{{ $partners := .partners }}
{{ $validPartners := slice }}
{{ range $partner := $partners }}
{{ if and $partner.logo $partner.url }}
{{ $validPartners = $validPartners | append $partner }}
{{ end }}
{{- end }}

{{ if gt (len $validPartners) 0 }}
<div class="section-container">
    <section class="section section--short our-partners">
        <h1 class="heading heading--highlighted heading--centered">
            {{ T "partners_section.heading" }}
        </h1>
        <h2 class="heading heading--2 heading--centered">
            {{ T "partners_section.subheading" }}
        </h2>
        <ul class="our-partners__list">
            {{ range $partner := $validPartners }}
            <li class="our-partners__list-item">
                {{- partial "sponsor-card.html" (dict
                "companyUrl" $partner.url
                "logoResource" $partner.logo
                "name" $partner.name
                )
                }}
            </li>
            {{- end }}
        </ul>
    </section>
</div>
{{ end }}